@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap); /* importando fonte externa */
@font-face { /* Adicionando um estilo de fonte por css */
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
	font-family: Arial, sans-serif;
    background-color: #dddddd;
	color: rgba(0,0,0,1):	
}

div#interface { /* a div está dentro de todo o body, diferente do menu principal que tem posição absoluta */
	width: 1100px;
	background-color: #ffffff;
/* a sequencia é definida por
			cima, dir,baixo,esq */ 
	margin: -20px auto 0px auto;  /* Quando quiser centralizar algo, trabalho com as margens */
	/*		     desloc lat   desloc vert  espalham sombra   cor sombra*/
	box-shadow:      0px          0px            10px       rgba(0,0,0,.5);  
				/* foi dado bastante espaço afim de descrever acima nos comentários as propriedades*/
	padding: 10px 10px 10px 10px; /* a configuração é a mesma do "margin" que está um pouco acima */
	/* como os valores de padding são todos iguais, poderia informar somente uma vez, tipo:
	padding: 10px;  --> o navegador entenderá que todos os 4 valores serão os mesmos */
}

header#cabecalho img#icone {
	position: absolute;
	left: 1050px;
	top: 70px;
}

header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

p{
	text-align: justify;
	text-indent: 50px;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width: 100%;
	/*height: 100%;*/
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-ms-transition: 1.5s;
	-o-transition: 1.5s;
	-moz-transition: 1.5s;
}

figure.foto-legenda figcaption:hover {
	opacity: 1;
}

/* Formatação do Menu */

/* Trabalha na área de navegação como um todo */
nav#menu {
	display: block;
}

/* Trabalha na lista como um todo */
nav#menu ul{
	list-style: none; /* retira os marcadores da lista */
	text-transform: uppercase; /* transforma todas as letras em maiúscula */
	position: absolute; /* posiciona a lista de forma absoluta dentro do site, ignorando o container NAV
						   se quisesse fazer isso dentro do container NAV, ao invés de 'absolute' seria 'relative' */
	top: -20px;
	left: 500px;
}

/* Trabalha com os itens da lista */
nav#menu li { 
	display: inline-block; /* coloca os itens da lista um ao lado do outro */
	background-color: #dddddd; /* Fundo cinza claro */
	padding: 10px; /* aumenta o espaço dentro da área dos itens da lista */
	margin: 2px; /* aumenta o espaço em volta dos itens fora da área dos itens da lista */
	/*transition: background-color 1.5s; /* transição para o hover */
}

/* ação quando passar o mouse sobre os itens da lista */
nav#menu li:hover {
	background-color: #606060;
	transition: background-color 1.5s; /* transição para o hover */
	/* Prefixr para navegadores */
	-webkit-transition: background-color 1.5s; /* Safari, chrome, android */
	-ms-transition: background-color 1.5s; /* IntExplorer */
	-moz-transition: background-color 1.5s; /* Mozilla */
	-o-transition: background-color 1.5s; /* Opera */
}

nav#menu h1 {
	display: none; /* Esconde os textos com 'h1' */
}

nav#menu a {
	color: #000000;
	text-decoration: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

section#corpo {
	display: block;
	width: 625px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 10px;
}

article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background: none;
	margin: 0px;
}

.direita {
	text-align: right;
}

header#cabecalho-artigo h3{
	font-size: 12 pt;
	color: #606060;
}

table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: #ffffff;
	background: #606060;
	vertical-align: top; /* A classe se sobrepoe a tag principal */
	font-weight: bold;
	text-align: right;
}

table#tabelaspec td.cd {
	background: #cecece;
	text-align: left;
}

table#tabelaspec caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span.data {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral {
	display: block;
	width: 420px;
	float: right;
	padding: 10px;
	background: #dddddd;
	margin: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}